@charset "utf-8";
/* CSS Document */
* {
	font-family: 'Krona One', sans-serif;
	cursor: url("img/cursor.png"), auto;
}
body {
	padding: 40px 50px 100px 40px;
	display: flex;
	flex-direction: column;
	background-color: #FFFEF4;
	background: linear-gradient(#FFFBE7, #CFA9FE);
	background-size: 200% 200%;
}
header{
	position: sticky;
	background-color: #83F35C;
	padding: 10px 96px; 
}
.logo{
	display: flex;
}
.segundacolumnaheader{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.botoneraheader{
	list-style: none;
	border-radius: 18px;
	border: 2px solid #313131;
	background: #FFDAA1; 
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: space-around;
	justify-content: center;
}
nav ul {
	list-style: none;
}
.botoneraheader ul{
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: space-around;
	gap: 70px;
}